pkgbase = omaspeak-bin
	pkgdesc = Local-first text-to-speech application and daemon (pre-built binary)
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/jacob-vincent-mink/omaspeak
	install = omaspeak-bin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = alsa-utils
	depends = gcc-libs
	depends = glibc
	optdepends = pipewire-audio: audio playback through pw-play
	optdepends = openvino: Intel CPU acceleration runtime
	optdepends = openvino-intel-gpu-plugin: Intel GPU device support for OpenVINO
	optdepends = openvino-intel-npu-plugin: Intel NPU device support for OpenVINO
	optdepends = cuda: NVIDIA CUDA libraries for an external CUDA runtime bundle
	optdepends = cudnn: NVIDIA neural-network libraries for an external CUDA runtime bundle
	provides = omaspeak=0.0.1
	conflicts = omaspeak
	options = !strip
	source_x86_64 = omaspeak-0.0.1-linux-x86_64.tar.xz::https://github.com/jacob-vincent-mink/omaspeak/releases/download/v0.0.1/omaspeak-0.0.1-linux-x86_64.tar.xz
	sha256sums_x86_64 = 9e318960fb15fdf955efbb8dda9bc8eb2b9d0932a9acd9e31b85bf3492ca78ea
	source_aarch64 = omaspeak-0.0.1-linux-aarch64.tar.xz::https://github.com/jacob-vincent-mink/omaspeak/releases/download/v0.0.1/omaspeak-0.0.1-linux-aarch64.tar.xz
	sha256sums_aarch64 = 8a0d7728d0b6d3f447ab7a616389fc8c54a0617f14922b33593ca60b425deb8d

pkgname = omaspeak-bin
