[Desktop Entry]
Type=Application
Name=Stability Matrix
Comment=Manage local AI tools, models and image generation
Exec=stabilitymatrix %u
TryExec=stabilitymatrix
Icon=stabilitymatrix
Terminal=false
Categories=Graphics;
Keywords=AI;Stable Diffusion;ComfyUI;Models;
StartupWMClass=stabilitymatrix
MimeType=x-scheme-handler/stabilitymatrix;
