# Apple T1 iBridge (05ac:8600) on 2016/2017 Touch Bar MacBook Pros.
# Configuration 1 exposes both the Touch Bar HID and FaceTime HD camera.
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", ATTR{idProduct}=="8600", ATTR{bConfigurationValue}="1"

# Changing the USB configuration can reset power/control after the initial add
# event. Reapply on the resulting change/bind event after generic autosuspend.
ACTION=="add|change|bind", SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", ATTR{idProduct}=="8600", TEST=="power/control", ATTR{power/control}="on"
