pkgbase = omawake-bin
	pkgdesc = Configurable local wake-word daemon (pre-built binary)
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/jacob-vincent-mink/omawake
	install = omawake-bin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	optdepends = pipewire-audio: PipeWire audio support
	optdepends = openvino: Intel runtime for an externally supplied OpenVINO provider bundle
	optdepends = openvino-intel-gpu-plugin: Intel GPU device support for OpenVINO
	optdepends = openvino-intel-npu-plugin: Intel NPU device support for OpenVINO
	optdepends = cuda: NVIDIA CUDA libraries for an external CUDA runtime bundle
	optdepends = cudnn: NVIDIA neural-network libraries for an external CUDA runtime bundle
	provides = omawake=0.0.2
	conflicts = omawake
	options = !strip
	source_x86_64 = omawake-0.0.2-linux-x86_64.tar.xz::https://github.com/jacob-vincent-mink/omawake/releases/download/v0.0.2/omawake-0.0.2-linux-x86_64.tar.xz
	sha256sums_x86_64 = 94f0677eb497babd351cb154e9adf057e4b796efe0241d809a7f7cf84742a515
	source_aarch64 = omawake-0.0.2-linux-aarch64.tar.xz::https://github.com/jacob-vincent-mink/omawake/releases/download/v0.0.2/omawake-0.0.2-linux-aarch64.tar.xz
	sha256sums_aarch64 = acb359b21bbe4909b13c18a0de63f8106c6b254943074b57d8fd70af41421659

pkgname = omawake-bin
