[Unit]
Description=Surface Pro 11 Bluetooth public address for %i
ConditionFirmware=device-tree-compatible(microsoft,denali-oled)
BindsTo=sys-subsystem-bluetooth-devices-%i.device
After=sys-subsystem-bluetooth-devices-%i.device
Before=bluetooth.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/surface-pro-11-bluetooth-address.conf
ExecStart=/usr/lib/surface-pro-11-support/surface-pro-11-bluetooth-address %i
CapabilityBoundingSet=CAP_NET_ADMIN
NoNewPrivileges=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_BLUETOOTH AF_UNIX
RestrictRealtime=yes
SystemCallArchitectures=native

