[Desktop Entry]
Type=Application
Name=Omaunits
GenericName=Unit converter
Comment=Dead-simple unit converter
Exec=omaunits
Icon=omaunits
Terminal=false
Categories=Utility;Calculator;
Keywords=converter;convert;units;weight;length;temperature;volume;data;
StartupWMClass=omaunits
