[Desktop Entry]
Name=VibeCAD Preview
Comment=Design editable 3D parts with AI-native parametric CAD
GenericName=CAD Application
Exec=vibecad --single-instance %F
Terminal=false
Type=Application
Icon=vibecad
Categories=Graphics;Engineering;
StartupNotify=true
StartupWMClass=VibeCAD
MimeType=application/x-extension-fcstd;model/obj;image/vnd.dwg;image/vnd.dxf;model/vnd.collada+xml;application/iges;model/iges;model/step;model/step+zip;model/stl;application/vnd.shp;model/vrml;
