[Desktop Entry]
Type=Application
Name=Superwhisper
Comment=Local and cloud voice dictation
Exec=foot --app-id=com.superwhisper.settings --title=Superwhisper --font="JetBrainsMono Nerd Font,Superwhisper TUI:size=12" env SW_TUI_LOGO=font superwhisper settings
Icon=superwhisper
Terminal=false
Categories=Utility;Accessibility;
