[Desktop Entry]
Type=Application
Name=Superwhisper License Activation
Exec=superwhisper open-url %u
Icon=superwhisper
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/superwhisper;
