SUBSYSTEM=="video4linux", KERNEL=="video[0-9]*", ATTR{name}=="Intel IPU6 ISYS Capture *", ATTRS{subsystem_vendor}=="0x1028", ATTRS{subsystem_device}=="0x0a45", GROUP:="latitude-camera", MODE:="0660", TAG-="uaccess", ENV{ID_V4L_CAPABILITIES}=""
SUBSYSTEM=="media", ATTRS{subsystem_vendor}=="0x1028", ATTRS{subsystem_device}=="0x0a45", GROUP:="latitude-camera", MODE:="0660", TAG-="uaccess"
